{% layout "layout.liquid" %}

{% block head %}
{% endblock %}

{% block body %}
<div class="markdown-body">
  {{content}}
</div>
<p>Github: <a href="https://github.com/harttle/http-demo">github.com/harttle/http-demo</a></p>
{% endblock %}
